<template>
  <div id="main-content">
    <b-container>
      <b-row style="height: 100px" align-h="center" align-v="center">
        <b-col cols="6">
          <b-form-select
            v-model="selected"
            :options="locations"
            @input="filterVehicles(selected)"
          ></b-form-select>
        </b-col>
      </b-row>

      <b-card-group deck>
        <vehicle
          v-for="item in filterdVehicles"
          :key="item.id"
          :title="item.title"
          :imgSRC="item.image.path"
        />
      </b-card-group>
    </b-container>
  </div>
</template>

<script>
import Vehicle from '@/components/Vehicle'
import { mapGetters, mapActions } from 'vuex'

export default {
  components: { Vehicle },
  data () {
    return {
      selected: 0
    }
  },
  computed: {
    ...mapGetters({
      locations: 'locations',
      filterdVehicles: 'filterdVehicles'
    })
  },
  watch: {},
  created () {},
  mounted () {
    this.getVehicles()
    this.getLocations()
  },
  methods: {
    ...mapActions({
      getVehicles: 'getVehicles',
      getLocations: 'getLocations',
      filterVehicles: 'filterVehicles',
      filterOnApi: 'filterOnApi'
    })
  }
}
</script>
