<template>
  <b-card
    :title="title"
    :img-src="imgSRC"
    :img-alt="title"
    img-top
    tag="article"
    style="max-width: 20rem"
    class="mb-2"
  >
    <b-card-text>
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </b-card-text>
    <b-button href="#" variant="primary">Go somewhere</b-button>
  </b-card>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true
    },
    imgSRC: {
      type: String,
      default: null
    }
  }
}
</script>
